/**
 * Main layout css file.
 */
header {
    min-height: 70vh;
    background-image: url('../imgs/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5vh;
    width: 100%;
}

.logo {
    font-size: 60px;
    font-family: 'Leckerli One', cursive;
}

header h2 {
    margin-top: 7vh;
    padding: 20px;
    background-color: rgba(0, 80, 80, 0.7);
}
