/**
 * This will handle styling of the site.
 */

/**
 * Fonts.
 *
 * Here we will use Google fonts...
 */

@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
* { font-family: 'Nunito', sans-serif; }

/**
 * Colors.
 * This uses a colorscheme obtained from coolors.co
 * Reference: https://coolors.co/2d728f-3b8ea5-f5ee9e-f49e4c-ab3428
 */

/* backgrounds */
.bg-teal { background-color: #2d728f; }
.bg-blue { background-color: #3b83a5; }
.bg-flav { background-color: #f5ee9e; }
.bg-carrot { background-color: #f49e5c; }
.bg-brown { background-color: #ab3428; }

/* text color */
* { color: #666; } /* better for contrast */
.text-white { color: #fff; }
.text-teal { color: #2d728f; }
.text-blue { color: #3b83a5; }
.text-flav { color: #f5ee9e; }
.text-carrot { color: #f49e5c; }
.text-brown { color: #ab3428; }
.text-orange { color: orange; }
.text-underline { text-decoration: underline; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

/**
 * Font sizing utilities
 */
* { font-size: 16px; }
.text-small { font-size: 14px; }
.text-large { font-size: 30px; }

p {
    padding: 4px;
}

/* header sizes */ 
h1 { font-size: 45px; }
h2 { font-size: 40px; }
h3 { font-size: 35px; }
h4 { font-size: 30px; }
h5 { font-size: 25px; }
h6 { font-size: 20px; }

/* buttons */
button:active {
    outline: none;
}

a.bt {
    text-decoration: none;
}

a.bt,
input[type="button"].bt, 
input[type="submit"].bt, 
button.bt {
    color: black;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #eee;
    border: 5px solid #eee;
    cursor: pointer;
    transition: .2s all;
}
a.bt,
input[type="button"].bt-orange, 
input[type="submit"].bt-orange, 
button.bt-orange {
    color: black;
    background-color: orange;
    border-color: orange;
}

/* cards */
.card {
    padding: 30px;
    background-color: #fff;
}


/* input */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    border: 1px solid #444;
    background-color: #f4f1d6;
    margin-bottom: 15px;
}

label {
    vertical-align: middle;
}

